

@keyframes fadeOut {
    0% {
        opacity:1;
        transform: translate(-50%, -400%);
    }
    50% {
        opacity:1;
        transform: translate(-50%, -500%);
    }
    100% {
        opacity:0;
        transform: translate(-50%, -600%);
    }
}

.notify-text {
    color: white;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    animation: fadeOut linear 3s;
}